{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Tareas
{% endblock title %}

{% block content %}
<section class="mt-3">
    <h5 class="text-center">
       Administrador de tareas
    </h5>
    <div class="container-fluid position-relative">
        <div class="container my-3 my-lg-5">
            <div class="row justify-content-center vh-100">
                <div class="col shadow-sm mx-2 bg-light py-2" id="todo" ondrop="drop(event)" ondragover="allowDrop(event)">
                    <h5 class="text-center">
                        TO DO
                    </h5>    
                    {% for task in tasks %}
                        {% if task.state == 'TO_DO'%}
                            <div class="d-flex flex-column align-items-center justify-content-center mt-3">
                                <!-- card -->
                                <div id="todotarget1" ondragstart="dragStart(event)" draggable="true"
                                    class="card rounded-0 w-100 mb-3 border-0 border-start border-primary border-3 shadow-sm">
                                    <div class="card-header d-inline p-1 fw-semibold text-muted">
                                        {{ task.title }}
                                    </div>
                                    <div class="card-body px-3 py-3">
                                        <div class="card-text mb-2">{{ task.description }}</div>
                                        <a href="{% url 'task:task_detail' task.id %}" class="btn btn-primary">Ver tarea</a>
                                        <a href="{% url 'task:edit_task' task.id %}" class="btn btn-primary">Editar tarea</a>
                                    </div>
                                    <div class="card-footer text-muted small">
                                        Fecha vencimiento: {{ task.date }}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="col shadow-sm mx-2 bg-light py-2" id="waiting" ondrop="drop(event)" ondragover="allowDrop(event)">
                    <h5 class="text-center">
                        WAITING
                    </h5>    
                    {% for task in tasks %}
                        {% if task.state == 'WAITING'%}
                            <div class="d-flex flex-column align-items-center justify-content-center mt-3">
                                <!-- card -->
                                <div id="waitingtarget1" ondragstart="dragStart(event)" draggable="true"
                                    class="card rounded-0 w-100 mb-3 border-0 border-start border-secondary border-3 shadow-sm">
                                    <div class="card-header d-inline p-1 fw-semibold text-muted">
                                        {{ task.title }}
                                    </div>
                                    <div class="card-body px-3 py-3">
                                        <div class="card-text mb-2">{{ task.description }}</div>
                                        <a href="{% url 'task:task_detail' task.id %}" class="btn btn-secondary">Ver tarea</a>
                                        <a href="{% url 'task:edit_task' task.id %}" class="btn btn-secondary">Editar tarea</a>
                                    </div>
                                    <div class="card-footer text-muted small">
                                        Fecha vencimiento: {{ task.date }}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="col shadow-sm mx-2 bg-light py-2" id="todo" ondrop="drop(event)" ondragover="allowDrop(event)">
                    <h5 class="text-center">
                        IN PROGRESS
                    </h5>    
                    {% for task in tasks %}
                        {% if task.state == 'IN_PROGRESS'%}
                            <div class="d-flex flex-column align-items-center justify-content-center mt-3">
                                <!-- card -->
                                <div id="todotarget1" ondragstart="dragStart(event)" draggable="true"
                                    class="card rounded-0 w-100 mb-3 border-0 border-start border-warning border-3 shadow-sm">
                                    <div class="card-header d-inline p-1 fw-semibold text-muted">
                                        {{ task.title }}
                                    </div>
                                    <div class="card-body px-3 py-3">
                                        <div class="card-text mb-2">{{ task.description }}</div>
                                        <a href="{% url 'task:task_detail' task.id %}" class="btn btn-warning">Ver tarea</a>
                                        <a href="{% url 'task:edit_task' task.id %}" class="btn btn-warning">Editar tarea</a>
                                    </div>
                                    <div class="card-footer text-muted small">
                                        Fecha vencimiento: {{ task.date }}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="col shadow-sm mx-2 bg-light py-2" id="todo" ondrop="drop(event)" ondragover="allowDrop(event)">
                    <h5 class="text-center">
                        DONE
                    </h5>    
                    {% for task in tasks %}
                        {% if task.state == 'DONE'%}
                            <div class="d-flex flex-column align-items-center justify-content-center mt-3">
                                <!-- card -->
                                <div id="todotarget1" ondragstart="dragStart(event)" draggable="true"
                                    class="card rounded-0 w-100 mb-3 border-0 border-start border-success border-3 shadow-sm">
                                    <div class="card-header d-inline p-1 fw-semibold text-muted">
                                        {{ task.title }}
                                    </div>
                                    <div class="card-body px-3 py-3">
                                        <div class="card-text mb-2">{{ task.description }}</div>
                                        <a href="{% url 'task:task_detail' task.id %}" class="btn btn-success">Ver tarea</a>
                                        <a href="{% url 'task:edit_task' task.id %}" class="btn btn-success">Editar tarea</a>
                                    </div>
                                    <div class="card-footer text-muted small">
                                        Fecha vencimiento: {{ task.date }}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
</section>
{% endblock content %}
