.teal-500{
    background-color: #20c997;
}

.cyan-100{
    background-color: #B2EBF2;
}

.yellow-100{
    background-color: #FFF9C4;
}

.blue-100{
    background-color: #BBDEFB;
}

.blue-200{
    background-color: #90CAF9;
}

.orange-400{
    background-color: #fd9843;
}

.red-400 {
    background-color: #e35d6a;
}


